.navigation {
    background: cyan;
    padding: 30px;
}

.navigation a {
    padding: 10px 40px;
    margin: 10px;
    text-decoration: none;
    background: orange;
    color: white;
    border-radius: 4px;
}